
@{
    ViewData["Title"] = "You are unauthorized";
}


    <div class="text-center">
        <!--<h1 class="display-4"> You have to <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> or          <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h1>-->
        <!--<p>(Page not found)</p>-->
        <h1 class="display-4"> You are unauthorized</h1>
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><font size="12">Register </font></a>
        </div>
            <a><font size="10">or </font></a>
        <div>
        </div>
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><font size="12">Login</font></a>
        </div>


        </div>

