<link rel="stylesheet" type="text/css" href="~/css/NoPower.css" />

@{
    ViewData["Title"] = "ErrorNoPower";
}



<div class="text-center">
    <h1 class="display-4"> <font color="white">YOU HAVE NO POWER HERE</font> </h1>
    <!--<p>(Page not found)</p>-->


</div>

