@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">O, Hi Mark.</h1>
    <p>Let's start working. You can choose points in <a href="http://classic.battle.net/diablo2exp/maps/act3.shtml"> map of Minsk</a>.</p>
</div>
@Html.Partial("_UselessGetMessage")
