<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
@{
    ViewData["Title"] = "Page not found";
}



<div class="text-center">
    <h1 class="display-4">Yankee go   <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <font size="12"> home </font> </a></h1>
    <p>(Page not found)</p>


</div>




<!--<div>
    <a asp-action="Home/Index">Back to List</a>
</div>-->

