@model PointSystem.Models.RegistrationFeast

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Registration on feast</h4>
@if(ViewData["Url"] != null && ViewData["Url"] != "")
{
<h5>Your proposal will be rediarected to @ViewData["Url"] </h5>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" value="@ViewBag.Fid" name="FeastId" />
            <input type="hidden" value="processing" name="Status" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Starting time (in format 01.01.2001 0:00:00)</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">Ending time</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <select name="Content">
                    <option value="Concert">Concert</option>
                    <option value="Academic music">Academic music</option>
                    <option value="Flashmob">Flashmob</option>
                    <option value="Theatrical performance">Theatrical performance</option>
                    <option value="Living statues">Living statues</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="AspNetUserId" class="control-label"></label>
                <select asp-for="AspNetUserId" class="form-control" asp-items="ViewBag.AspNetUserId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>-->
                    <!--<div class="form-group">
                <label asp-for="FeastId" class="control-label"></label>
                <label  asp-items="ViewBag.Topic, ViewBag.FeastId" class="control-label"></label>
                <select asp-for="FeastId" class="form-control" asp-items="ViewBag.FeastId"></select>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

